body {
    margin: 0;
    background-color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    width: 1000px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    height: 800px;

}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 70px;
    margin-bottom: 5px;
}

.h1White {
    color: white;
}

.h1Green {
    color:#4ADF86;
}

h2 {
    font-weight: 400;
    color: #D5D4D8;
    margin-bottom: 50px;
}

.everything {
    background-color: #1F2937;
    padding: 100 150;
    justify-content: center;
}

#generator {
    font-weight: 500;
    color: white;
    background-color: #10B981;
    font-size: 30px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

.pws {
    display: flex;
}

.pwactual{
    font-weight: 500;
    padding: 10px;
    margin-top: 30px;
    width: 350px;
    height: 45px;
    background-color: #273549;
    color: #4ADF86;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: none;
}

#passOne {
    margin-right: 35px;


}

p {
    border: #2F3E53 solid 1px;
}

/* #passTwo {


} */